<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.FixedMapper">

    <sql id="Base_Column_List">
        id,name,time,content,username,number,avatar
    </sql>

    <select id="selectAll" resultType="com.example.entity.Fixed">
        select
        <include refid="Base_Column_List" />
        from fixed
        <where>
            <if test="content != null"> and content like concat('%', #{content}, '%')</if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.example.entity.Fixed">
        select
        <include refid="Base_Column_List" />
        from fixed
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from fixed
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Fixed" useGeneratedKeys="true">
        insert into fixed
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="content != null">content,</if>
            <if test="time != null">time,</if>
            <if test="username != null">username,</if>
            <if test="number != null">number,</if>
            <if test="avatar != null">avatar,</if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="content != null">#{content},</if>
            <if test="time != null">#{time},</if>
            <if test="username != null">#{username},</if>
            <if test="number != null">#{number},</if>
            <if test="avatar != null">#{avatar},</if>

        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Fixed">
        update fixed
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
            <if test="number != null">
                time = #{number},
            </if>
            <if test="username != null">
                time = #{username},
            </if>
            <if test="avatar != null">
                time = #{avatar},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>